<div class="employeeDashboard" id="employeeWrapper">
  <div class="loadLoginForm" ng-controller="LoginCtrl" ng-include src ="'views/logoLoginForm.html'"></div>
  <div class="section-separator">
    <div class="row">
      <div class="col-lg-8">
        <div class="panel panel-default">
  <div class="panel-body"><h4 class="text-center">Total Jobs Applied</h4>
    <hr>

    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">No Jobs Applied</div>
        <div class="text-center">
          <button class="btn btn-primary">Back</button>
        </div>
      </div>
    </div>

          
          </div></div>
      </div>
      <div class="col-lg-4">
        <ul class="list-group">
          <li class="list-group-item">
            <img src="images/chart-graph.png" style="width:20px">
            <span class="text-success">STATASTICS</span>
          </li>
          <li class="list-group-item">
            <span class="badge">14</span>
            <a href="">Jobs Total Applied</a>
          </li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item"><img src="images/back.png" style="width:20px">
            <span class="text-success">WHAT'S NEXT</span></li>
            <li class="list-group-item"><a href="">Search Job by Location</a></li>
            <li class="list-group-item"><a href="">Search Job by Skills</a></li>
            <li class="list-group-item"><a href="">Searc Job by Comapany</a></li>
          </ul>
          <ul class="list-group">
            <li class="list-group-item"><img src="images/list.png" style="width:20px">
              <span class="text-success">Recently Job Posted</span></li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-lg-12">
                    <h4 class="text-info"><a href="">Mid Level Java Developer</a></h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <span>By:</span>
                    <span class="text-success">Altexsoft technologies</span>
                  </div>
                  <div class="col-lg-6">
                    <span>Posted on:</span>
                    <span class="text-success">2016-06-09</span>
                  </div>
                </div>

              </li>
              
               <li class="list-group-item">
                  <button class="btn btn-sm btn-info pull-right"> View More</button>
               </li>
            </ul> 
          </div>
        </div>
      </div>
    </div>
