<div class="employeeDashboard" id="employeeWrapper">
  <div class="section-separator">
    <div class="row">
      <div class="col-lg-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4 class="text-center">Search For Employers</h4>
            <hr>
            <div class="col-lg-10">
              <div class="form-group">
                <label>Employers Name</label>
                <input type="text" class="form-control" placeholder="Enter Employers" ng-model="employeeSearchByEmployersCtrl.searchEmployersText">
              </div>
            </div>
            <div class="col-lg-2">
               <div class="form-group">
                  <label class="" style="visibility:hidden">vc</label>
                  <button class="btn btn-primary" ng-click="employeeSearchByEmployersCtrl.searchEmployers()"><i class="glyphicon glyphicon-search"></i> &nbsp;Search</button>
              </div>
            </div>
            <div class="col-sm-12 employeeDashboardCtrl" >
              <div id="empData" style="min-height: 200px;">
                <div class="" ng-show="employeeSearchByEmployersCtrl.empData.length <= 0">
                  <h4>No Employer Found</h4>
                </div>
                <div class="well_look" ng-repeat="emp in employeeSearchByEmployersCtrl.empData"
                     ng-show="employeeSearchByEmployersCtrl.empData.length > 0">
                  <div class="row paddingTop">
                    <p class="col-sm-1"><i class="glyphicon glyphicon-bookmark"></i></p>
                    <div class="col-sm-9">
                      <div class="row" style="color: #16A085;font-size: 16px;">
                        <a href="" style="color:#337ab7">{{emp.name}}</a>
                      </div>
                      <div class="row">
                      <span style="font-size: 16px;" class="">
                        <a href="" class="dice-btn-link" id="">{{emp.location}}</a>
                      </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <span class="col-sm-1"></span>
                    <div class="col-sm-9">
                      <div class="row">
                        <div class="col-sm-12" style="padding-left: 0">
                          <div class="col-sm-3" style="padding-left:0;">
                            <span style="color: #16A085;">Industry Type:</span>
                          </div>
                          <div>
                            {{emp.industryType}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div ng-include src="'views/employee/employeeStatasticsData.html'" ng-controller="EmployeeStatasticsDataCtrl as employeeStatasticsDataCtrl"></div>
      </div>
    </div>
  </div>
</div>
