<div class="employeeDashboard" id="employeeWrapper">
  <div class="section-separator">
    <div class="row">
      <div class="col-lg-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4 class="text-center">Search By Skill</h4>
            <hr>
            <div class="col-lg-10">
              <div class="form-group">
                <label>Select Technology</label>
                <select class="form-control" ng-options="item.skillName as item.skillName for item in employeeSearchBySkillsCtrl.skillList track by item.skillId" ng-model="employeeSearchBySkillsCtrl.selectedSkill">
                  <option value="" selected disabled hidden>Select Skill</option>
                </select>
              </div>
            </div>
            <div class="col-lg-2">
               <div class="form-group">
                  <label class="" style="visibility:hidden">vc</label>
                  <button class="btn btn-primary" ng-click="employeeSearchBySkillsCtrl.searchJobs()"><i class="glyphicon glyphicon-search"></i> &nbsp;Search</button>
              </div>
            </div>
            <div class="col-sm-12 employeeDashboardCtrl" >
              <div id="jobsData" style="min-height: 200px;">
                <div class="" ng-show="employeeSearchBySkillsCtrl.jobsData.length <= 0">
                  <h4>No Public Jobs Found</h4>
                </div>
                <div class="well_look" ng-repeat="job in employeeSearchBySkillsCtrl.jobsData"
                     ng-show="employeeSearchBySkillsCtrl.jobsData.length > 0">
                  <div class="row paddingTop">
                    <p class="col-sm-1"><i class="glyphicon glyphicon-bookmark"></i></p>
                    <div class="col-sm-9">
                      <div class="row" style="color: #16A085;font-size: 16px;">
                        <a href="" style="color:#337ab7">{{job.jobTitle}}</a>
                      </div>
                      <div class="row">
                      <span style="font-size: 16px;" class="">
                        <a href="" class="dice-btn-link" id="">{{job.aboutCompany}}</a>
                      </span>
                      </div>
                      <div class="row">
                      <span class="col-sm-12" style="padding-left:0px">
                        <span style="color:#337ab7;padding-left:0px" class="col-sm-3">
                          <i class="glyphicon glyphicon-calendar"> </i> {{job.expFrom}} - {{job.expTo}}
                        </span>
                        <span class="col-sm-8 margin_bottom" style="color:#337ab7;padding-left:0px">
                          <i class="glyphicon glyphicon-map-marker"></i> {{job.location}}
                        </span>
                      </span>
                      </div>
                      <div class="row">
                        <div class="col-sm-12" style="padding-left:0px">
                          <div class="col-sm-3" style="padding-left:0px">
                            <span style="color: #16A085">Key Skills:</span>
                          </div>
                          <div class="col-sm-8" style="padding-left:0px">
                            <span>{{job.skill}}</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <div class="row">
                        <p><img class="companylogo" src="images/sample.jpg"></p>
                      </div>
                      <div class="row">
                        <a href="" ng-click="employeeSearchBySkillsCtrl.viewJob(job)" class="btn btn-success btn-md">View Job</a>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <span class="col-sm-1"></span>
                    <div class="col-sm-9">
                      <div class="row">
                        <div class="col-sm-12" style="padding-left: 0">
                          <div class="col-sm-3" style="padding-left:0;">
                            <span style="color: #16A085;">Description:</span>
                          </div>
                          <div>
                            {{job.jobDesc}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <span class="col-sm-4 center" style="background:#ddd;padding-top:6px;">
                      Salary: {{job.salaryFrom}} - {{job.salaryTo}}
                    </span>
                    <span class="col-sm-4 center" style=" margin-left:5px; background:#ddd;padding-top:6px;">Industry: {{job.industry}}</span>
                    <span class="col-sm-3 center" style="; margin-left:5px; background:#ddd;padding-top:6px;">Terms: {{job.contractTerms}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div ng-include src ="'views/employee/employeeStatasticsData.html'" ng-controller="EmployeeStatasticsDataCtrl as employeeStatasticsDataCtrl"></div>
      </div>
    </div>
  </div>
</div>
