@media only screen and (max-width: 767px)  {
  // Landing Page CSS
  .navbar-collapse.collapse.in {
    position: absolute;
    background: #fff !important;
    width: 100%;
    padding-top: 15px;
  }
  .navbar-header {
    position: absolute;
    top: 10px;
    right: 0;
  }
  .landingPage {
    .carousel-caption  {
      width: 100%;
    }
    .forRecruiter {
      margin-top: 62px;
    }
    .innerSlide {
      overflow-y: scroll !important;
      background-size: contain !important;
      background-position: top center !important;
    }
    .navbar-toggle {
      position: absolute;
      // top : 25px;
      right: 15px;
    }
    .loginForm {
      position: relative !important;
      right: auto !important;
      top: auto !important;
    }
    .navbar-default .navbar-collapse {
      background: #fff;
      z-index: 50;
      padding: 0 15px;
      position: absolute;
      width: 100%;
    }
    .carousel-caption {
      left: 0;
    }
    .overLayTextsSlide3 {
      width: 100% !important;

    }
    .blackBanner {padding: 50px 50px 0 50px !important;}
    .overLayTexts {
      border: 1px solid #000;
      background: #8C9CB3;
      opacity: 0.7;
      padding: 10px;
      width: 100% !important;

      span {
        display: block;
      }
      .headerOverlay {
        font-size: 32px;
      }
    }

    .jobsTexts {
      border: 1px solid #000;
      background: #8C9CB3;
      opacity: 0.7;
      padding: 10px;
      width: 100% !important;
      margin-top: 30px;
      .jobOverlay {font-size: 18px;}
      .jobContentOverlay {margin-top: 15px;}
    }
  }

  // Employee Registration CSS
  .employerRegisteration, .forgotPasswordRegisteration, .employeeRegisteration  {
    .dialogContainer {
      width: 100% !important;
    }
  }

  .employeeRegisterationForm {
    padding: 15px !important;
  }
  // Forgot Password CSS
  .forgotPasswordRegisteration {
    .dialogContainer {
      width: 100% !important;
    }

    .forgotPasswordForm {
      padding: 15px !important;
    }
  }
}
