<!--controller as resumeSearchCtrl-->
<div class="container-fluid row SearchResume">
  <h3>Search for Resume</h3>
  <div class="dash-left col-lg-9 col-md-9 col-sm-12 col-xs-12"> <!--style="background-color: #FFFFFF;width: 65%;"-->
    <hr>
  <form name="searchResume" novalidate>
    <div class="user">
      <div class="col-md-12">
        <div class="col-md-3 control-label" style="margin-top: 8px;">
          <br>
          <label>
            Search for Resumes: <sup><span class="glyphicon glyphicon-asterisk text-sm"></span></sup>
          </label>
        </div>
        <div class="col-md-6 control-label"
         ng-class="{'has-error' : (searchResume.$submitted || searchResume.searchText.$touched || submitted ) && searchResume.searchText.$invalid && searchResume.searchText.$error.required }">
          <br>
          <input class="form-control" placeholder="Enter search keywords with spaces" type="text"
                 ng-model="resumeSearchCtrl.searchText" name="searchText" ng-required="true"/>
                 <p class="help-block" ng-show="(searchResume.$submitted || searchResume.searchText.required || submitted ) && searchResume.searchText.$invalid && searchResume.searchText.$error.required">This field is required</p>

        </div>
        <div class="col-md-3 control-label" style="margin-top: 18px;">
          <button type="submit" class="btn btn-primary" ng-click="searchResume.$valid && resumeSearchCtrl.search()">
           <span class="glyphicon glyphicon-search"></span> Search
         </button>
        </div>

        </div>
    </div>
  </form>
    <br>
    <div class="row" ng-show="!resumeSearchCtrl.loading">
      <div class="form-group col-md-12" id="searchResultDiv">
        <h4 id="result_none" align="center" ng-show="resumeSearchCtrl.candidates.length === 0">No Resumes Found </h4>

        <div ng-show="resumeSearchCtrl.candidates.length > 0">
          <h2 class="text-center">Results</h2>
          <div class="col-sm-12 vendors2" ng-repeat="candidate in resumeSearchCtrl.candidates">
            <div class="">
              <i class="glyphicon glyphicon-user"></i>
              <strong>
                <a class="canBox capitalize">
                  {{candidate.firstName}} {{candidate.lastName}}
                </a>
              </strong>
            </div>
            <div class="col-sm-12">
              <div id="circle_9" class="canCircle col-sm-6" style="margin-top: 10px;">
                <div style="padding-top: 20px;">
                  Java<br>
                  0+ Years
                </div>
              </div>
              <div class="col-sm-9" style="width: 85%;">
                <table class="table table-hover">
                  <tbody>
                  <tr>
                    <td style="border:0;"><i class="glyphicon glyphicon-flag"></i></td>
                    <td style="border:0;"><i class="glyphicon glyphicon-bookmark"> </i> full-time-Contract</td>
                    <td style="border:0;"><i class="glyphicon glyphicon-star"></i> Java</td>
                    <td style="border:0;"><i class="glyphicon glyphicon-calendar"> </i> 0 Years  Months</td>
                  </tr>
                  <tr>
                    <td style="border:0;"><i class="glyphicon glyphicon-usd"></i> 3200</td>
                    <td style="border:0;"><i class="glyphicon glyphicon-file"></i> can4_b12consulting3.doc</td>
                    <td style="border: 0;"><i class="glyphicon glyphicon-inbox"></i> {{candidate.email}}</td>
                    <td style="border:0;"><i class="glyphicon glyphicon-education"></i> high school</td>
                  </tr>
                  <tr>

                    <td style="border:0;"><i class="glyphicon glyphicon-map-marker"></i> {{candidate.currentLocation}}</td>
                    <td style="border:0;"><i class="glyphicon glyphicon-phone"></i> {{candidate.mobileNo}}</td>
                    <td style="border:0;"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-sm-12">
              <a class="btn btn-success" ng-click="resumeSearchCtrl.downloadResume(candidate.candidateId)">Download Resume</a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
