<div class="employerRegisteration" id="employerWrapper">
  <div class="loadLoginForm" ng-controller="LoginCtrl" ng-include src ="'views/logoLoginForm.html'"></div>
  <div class="section-separator">
    <div class="dialogContainer" ng-controller="EmployerRegisterationCtrl">
      <div class="employerRegisterationForm">
        <div class="pageTitle"><h2>Register as Employer</h2></div>
        <form role="form" name="reigstrationForm" ng-submit="onRegisterFormSubmit(reigstrationForm.$valid)" class="RegisterEmployerForm" novalidate>
           <div class="form-group text-left" ng-class="{'has-error' : reigstrationForm.companyName.$invalid && reigstrationForm.companyName.$pristine && submitted }">
              <label for="companyName" class="hidden-xs">Company Name:<span class="estricSign">*</span></label>
              <input type="text" class="form-control" name="companyName" id="companyName" ng-model="company" placeholder="Add Company Name" ng-required="true"/>
              <p ng-show="reigstrationForm.companyName.$invalid && reigstrationForm.companyName.$pristine && submitted" class="help-block">Company Name is required.</p>
           </div>
           <div class="form-group text-left" ng-class="{'has-error' : reigstrationForm.email.$invalid && reigstrationForm.email.$pristine && submitted || reigstrationForm.$error.email}">
              <label for="email" class="hidden-xs">Email:<span class="estricSign">*</span></label>
              <input type="email" class="form-control" ng-class="emailError? 'redBox': ''" name="email" id="email" ng-model="email" placeholder="Email Address" ng-blur="checkUser()" ng-required="true"/>
              <p ng-show="reigstrationForm.email.$invalid && reigstrationForm.email.$pristine && submitted" class="help-block">Email is required.</p>
              <p ng-show="reigstrationForm.$error.email" class="help-block">Please enter valid email address.</p>
           </div>
           <div class="form-group text-left">
              <label for="email" class="errorMessage {{isShowEmailExist}}">{{emailExist}}</label>
           </div>
           <div class="form-group text-left" ng-class="{'has-error' : reigstrationForm.password.$invalid && reigstrationForm.password.$pristine && submitted
         || reigstrationForm.password.$error.minlength }">
              <label for="password" class="hidden-xs">Password:<span class="estricSign">*</span></label>
              <input type="password" class="form-control" name="password" id="txtNewPassword" ng-minlength="6" ng-model="password" placeholder="Password" ng-required="true">
              <p ng-show="reigstrationForm.password.$invalid && reigstrationForm.password.$pristine && submitted" class="help-block">Password is required.</p>
              <p ng-show="reigstrationForm.password.$error.minlength" class="help-block">Minimum 6 charecters</p>
           </div>
           <div class="form-group text-left" ng-class="{'has-error' : reigstrationForm.confirmPassword.$invalid && reigstrationForm.confirmPassword.$pristine && submitted || reigstrationForm.confirmPassword.$error.pwmatch}">
              <label for="confirmPassword" class="hidden-xs">Confirm Password:<span class="estricSign">*</span></label>
              <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" ng-model="confirmPassword" placeholder="Confirm Password" ng-required="true" pw-check="txtNewPassword"/>
              <p ng-show="reigstrationForm.confirmPassword.$invalid && reigstrationForm.confirmPassword.$pristine && submitted || reigstrationForm.confirmPassword.$error.pwmatch" class="help-block">Passwords don't match.</p>
           </div>
           <div class="form-group text-left" ng-class="{'has-error' : reigstrationForm.termCondition.$invalid && reigstrationForm.termCondition.$pristine && submitted }">
              <input type="checkbox" ng-class="termCondtion? 'redBox': ''" name="termCondition" id="termCondition" ng-model="termCondition.value" ng-required="true"/>
              <label for="termCondition" class="hidden-xs">I agree to Terms & Conditions:<span class="estricSign">*</span></label>
              <p ng-show="reigstrationForm.termCondition.$invalid && reigstrationForm.termCondition.$pristine && submitted" class="help-block">Please read terms and conditions and check to accept</p>
           </div>
           <div class="form-group signInForm-submitBtnwrapper">
              <input type="submit" ng-disabled="reigstrationForm.$invalid" class="btnSubmit" value="Register" title="Register">
              <input type="button" class="btnCancel" value="Cancel" title="Cancel">
           </div>
        </form>
      </div>
    </div>
  </div>
</div>
