<div class="changePassword" id="changePasswordWrapper">
  <h3>Change Password</h3>
  <div class="section-separator">
    <div class="dialogContainer">
      <div class="changePasswordForm">
        <form role="form" name="employerChangePasswordForm" ng-submit="onChangePasswordFormSubmit(employerChangePasswordForm.$valid)" class="employerChangePasswordForm" novalidate>
           <div class="form-group text-left" ng-class="{'has-error' : employerChangePasswordForm.currentPassword.$invalid && employerChangePasswordForm.currentPassword.$pristine && submitted }">
              <label for="currentPassword" class="hidden-xs">Current Password:</label><span class="estricSign">*</span>
              <input type="password" class="form-control" name="currentPassword" id="currentPassword" ng-model="currentPassword" placeholder="Current Password" required/>
              <p ng-show="employerChangePasswordForm.currentPassword.$invalid && employerChangePasswordForm.currentPassword.$pristine && submitted" class="help-block">Current Password is required.</p>
           </div>
           <div class="form-group text-left" ng-class="{'has-error' : employerChangePasswordForm.newPassword.$invalid && employerChangePasswordForm.newPassword.$pristine && submitted }">
              <label for="newPassword" class="hidden-xs">New Password:</label><span class="estricSign">*</span>
              <input type="password" class="form-control" name="newPassword" id="txtNewPassword" ng-model="newPassword" placeholder="New Password" required/>
               <p ng-show="employerChangePasswordForm.newPassword.$invalid && employerChangePasswordForm.newPassword.$pristine && submitted" class="help-block">New Password is required.</p>
           </div>
           <div class="form-group text-left" ng-class="{'has-error' : employerChangePasswordForm.confirmPassword.$invalid && employerChangePasswordForm.confirmPassword.$pristine && submitted || employerChangePasswordForm.confirmPassword.$error.pwmatch}">
              <label for="confirmPassword" class="hidden-xs">Confirm Password:</label><span class="estricSign">*</span>
              <input type="password" class="form-control" name="confirmPassword" id="txtConfirmPassword" ng-model="confirmPassword" placeholder="Confirm Password" required pw-check="txtNewPassword"/>
              <p ng-show="employerChangePasswordForm.confirmPassword.$invalid && 
              employerChangePasswordForm.confirmPassword.$pristine && submitted || employerChangePasswordForm.confirmPassword.$error.pwmatch" class="help-block">Passwords don't match.</p>
               
           </div>
           <div class="form-group signInForm-submitBtnwrapper">
              <input type="submit" class="btnSubmit"  value="Change Password" title="Change Password">
           </div>
        </form>
      </div>
    </div>
  </div>
</div>
