<div class="employer-SentConnectionRequest employer-all-pages container-fluid row" id="employerSentConnectionRequest">
  <h3>Sent Requests for Network</h3>
  <div class="section-separator">
    <div class="row" ng-show="employerSentConnectionRequestCtrl.sentNetworkList">
      <div class="col-xs-12">
        <div class="row text-right">
          <input type="submit" class="btnSubmit" ng-disabled="isDisabled" ng-click="employerSentConnectionRequestCtrl.redirectSignInEmployers()" value="Send a new equest" title="Send a new request">
        </div>
        <div class=" section-separator form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-repeat="myConnectedEmployer in employerSentConnectionRequestCtrl.result">
          <div class="row">
            <div class="col-md-3 col-xs-6 employerImage">
              <img ng-src="images/recent-employer.png" alt="Employer" />
            </div>
            <div class="col-md-6 col-xs-6">
              <span class="companyName">{{myConnectedEmployer.name}}</span>
            </div>
            <div class="col-md-3 col-xs-12 text-right">
              <span>
                <input type="submit" class="btnSubmit conntectBtn" ng-click="employerSentConnectionRequestCtrl.cancelRequest(myConnectedEmployer)" value="Cancel" title="Cancel">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row"  ng-hide="employerSentConnectionRequestCtrl.sentNetworkList">
      <div class="col-xs-12">
        <div class="row text-center">
          <span class="noConnectionText">No any sent request</span>
        </div>
        <div class="row text-center">
          <input type="submit" class="btnSubmit" ng-disabled="isDisabled" ng-click="employerSentConnectionRequestCtrl.redirectSignInEmployers()" value="Send a new request" title="Send a new request">
        </div>
      </div>
    </div>
  </div>

</div>
