<div class="container-fluid row AccpetAllTrusted">
  <h3>All Trusted Request</h3>
  <div class="dash-left col-lg-9 col-md-9 col-sm-12 col-xs-12">

    <div class="col-sm-6" ng-repeat="n in [1,2,3,4,5,6,7,8,9,10,11,12]">
      <div id="39" class="row postBlock border_bottom">
        <div class="col-xs-7">
          <strong><a href="http://subcontract.com/dashboard/otherProfile/39">startup</a></strong>
        </div>
        <div class="col-xs-5">
          <button class="btn btn-success acceptRequest" ng-show="n%3 === 0">Accept Request</button>
          <button class="btn btn-danger cancelRequest" ng-show="n%3 != 0">Cancel Request</button>
        </div>
      </div>
    </div>
  </div>
</div>
