<div class="employer-recentlySignedIn employer-all-pages container-fluid row" id="employerRecentlySignedIn">
  <h3>You May Know</h3>
  <div class="section-separator">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-repeat="recentEmpData in employerYouMayKnowCtrl.result">
            <div class="row">
              <div class="col-md-3 col-xs-6 employerImage">
                <img ng-src="images/recent-employer.png" alt="Employer" />
              </div>
              <div class="col-md-6 col-xs-6">
                <span class="companyName">{{recentEmpData.name}}</span>
                <span class="companyDesc">
                  {{recentEmpData.industryType}}
                </span>
              </div>
              <div class="col-md-3 col-xs-12 text-right">
                <span>
                  <input type="submit" class="btnSubmit conntectBtn" ng-click="employerYouMayKnowCtrl.connectToEmployer(recentEmpData)" value="Connect" title="Connect Employer">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
