<!-- inviteTeamCtrl-->
<div class="employer-add-new-job employer-all-pages container-fluid" id="inviteTeam">
  <h3 class="text-center">Invite Team</h3>
  <form id="formInviteTeam" autocomplete="off" class="row separator" name="inviteTeamForm" novalidate="novalidate" valid-submit="inviteTeamCtrl.addInviteTeam()">
    <div class="employer-fields-section">
      <div class="row">
        <div class="form-group col-sm-9"
          ng-class="{'has-error' : (inviteTeamForm.$submitted || inviteTeamForm.firstName.$touched || submitted ) && inviteTeamForm.firstName.$invalid && inviteTeamForm.firstName.$error.required }">
          <span class="labelValue col-sm-4 pull-left">First Name:<span class="estricSign">*</span></span>
          <span class="textValue col-sm-8">
            <input class="form-control" type="text" placeholder="First Name" id="txtFirstName" value="" ng-model="inviteTeamCtrl.firstName" name="firstName" ng-required="true" />
            <p class="help-block" ng-show="(inviteTeamForm.$submitted || inviteTeamForm.firstName.$touched || submitted ) && inviteTeamForm.firstName.$invalid && inviteTeamForm.firstName.$error.required">First Name is required</p>
          </span>
        </div>
        <div class="form-group col-sm-9"
          ng-class="{'has-error' : (inviteTeamForm.$submitted || inviteTeamForm.lastName.$touched || submitted ) && inviteTeamForm.lastName.$invalid && inviteTeamForm.lastName.$error.required }">
          <span class="labelValue col-sm-4 pull-left">Last Name:<span class="estricSign">*</span></span>
          <span class="textValue col-sm-8">
            <input class="form-control" type="text" placeholder="Last Name" id="txtLastName" value="" ng-model="inviteTeamCtrl.lastName" name="lastName" ng-required="true" />
            <p class="help-block" ng-show="(inviteTeamForm.$submitted || inviteTeamForm.lastName.$touched || submitted ) && inviteTeamForm.lastName.$invalid && inviteTeamForm.lastName.$error.required">Last Name is required</p>
            </span>
        </div>
        <div class="form-group col-sm-9"
          ng-class="{'has-error' : (inviteTeamForm.$submitted || inviteTeamForm.email.$touched || submitted ) && inviteTeamForm.email.$invalid && inviteTeamForm.email.$error.required}">
          <span class="labelValue col-sm-4 pull-left">Email:<span class="estricSign">*</span></span>
          <span class="textValue col-sm-8">
            <input class="form-control" type="email" placeholder="Eg:email@company.com" id="txtEmail" value="" ng-model="inviteTeamCtrl.email" name="email" ng-required="true"/>
            <p class="help-block" ng-show="(inviteTeamForm.$submitted || inviteTeamForm.email.$touched || submitted ) && inviteTeamForm.email.$invalid && inviteTeamForm.email.$error.required">Email is required</p>
            <p class="help-block myerror" ng-show="inviteTeamForm.email.$error.email">Invalid Email</p>
          </span>
        </div>
        <div class="form-group col-sm-9"
        ng-class="{'has-error' : (inviteTeamForm.$submitted || inviteTeamForm.mobileNumber.$touched || submitted ) && inviteTeamForm.mobileNumber.$invalid && inviteTeamForm.mobileNumber.$error.required }">
          <span class="labelValue col-sm-4 pull-left">Mobile:<span class="estricSign">*</span></span>
          <span class="textValue col-sm-8">
            <input type="text" class="form-control" ng-pattern="/^[789]\d{9}$/" placeholder="10 Digits only" id="txtMobileNumber" value="" ng-model="inviteTeamCtrl.mobileNumber" name="mobileNumber" ng-required="true" />
            <p class="myerror" ng-show="inviteTeamForm.mobileNumber.$error.pattern">Invalid number...!</p>
            <p class="help-block" ng-show="(inviteTeamForm.$submitted || inviteTeamForm.mobileNumber.$touched || submitted ) && inviteTeamForm.mobileNumber.$invalid && inviteTeamForm.mobileNumber.$error.required">Mobile Number is required</p>
          </span>
        </div>
        <div class="form-group col-sm-9"
          ng-class="{'has-error' : (inviteTeamForm.$submitted || inviteTeamForm.password.$touched || submitted ) && inviteTeamForm.password.$invalid && inviteTeamForm.password.$error.required }">
          <span class="labelValue col-sm-4 pull-left">Password:<span class="estricSign">*</span></span>
          <span class="textValue col-sm-8">
            <input type="password" class="form-control" placeholder="******" id="txtNewPassword" ng-minlength="6" value="" ng-model="inviteTeamCtrl.password" name="password" ng-required="true" />
            <p class="help-block" ng-show="(inviteTeamForm.$submitted || inviteTeamForm.password.$touched || submitted ) && inviteTeamForm.password.$invalid && inviteTeamForm.password.$error.required">Password is required</p>
            <p ng-show="inviteTeamForm.password.$error.minlength" class="help-block">Minimum 6 charecters</p>
          </span>
        </div>
        <div class="form-group col-sm-9"ng-class="{'has-error' : (inviteTeamForm.$submitted || inviteTeamForm.confirmPassword.$touched || submitted )  && inviteTeamForm.confirmPassword.$error.required || inviteTeamForm.confirmPassword.$error.pwmatch}">
          <span class="labelValue col-sm-4 pull-left">Confirm password:<span class="estricSign">*</span></span>
          <span class="textValue col-sm-8">
            <input type="password"  class="form-control" placeholder="******" ng-minlength="6" id="txtConfirmPassword" value="" ng-model="inviteTeamCtrl.confirmPassword" name="confirmPassword" ng-required="true" pw-check="txtNewPassword" />
            <p class="help-block" ng-show="(inviteTeamForm.$submitted || inviteTeamForm.confirmPassword.$touched || submitted ) && inviteTeamForm.confirmPassword.$invalid && inviteTeamForm.confirmPassword.$error.required">Confirm Password is required</p>
            <p ng-show="inviteTeamForm.confirmPassword.$error.minlength" class="help-block">Minimum 6 charecters</p>
            <p ng-show="inviteTeamForm.confirmPassword.$error.pwmatch" class="help-block">Passwords don't match.</p>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="form-group  col-lg-8 text-center addNewJobForm">
          <input type="submit" class="btnSubmit" ng-disabled="isDisabled" value="Submit" title="Submit">
        </div>
      </div>
    </div>
  </form>
</div>
