<div class="row">
  <div class="col-xs-12 separatorJobs">
    <div class="big-boxes">
      <div class="row">
        <h4 class="text-center">Change Password</h4>
        <hr>
      </div>
      <div class="row">
        <div class="employer-add-new-job employer-all-pages container-fluid" id="inviteTeam">
          <form id="formChangePassword" autocomplete="off" class="row" novalidate="novalidate" ng-submit="teamMembersChangePassCtrl.updatePassword()">
            <div class="employer-fields-section">
              <div class="row">
                <div class="form-group col-sm-9">
                  <span class="labelValue col-sm-5 pull-left">New Password:<span class="estricSign">*</span></span>
                  <span class="textValue col-sm-7">
                    <input class="form-control" type="password" placeholder="First Name" id="txtPassword" value="" ng-model="teamMembersChangePassCtrl.defaultTeamMember.password">
                  </span>
                </div>
                <div class="form-group col-sm-9">
                  <span class="labelValue col-sm-5 pull-left">Re Enter New Password:<span class="estricSign">*</span></span>
                  <span class="textValue col-sm-7">
                    <input class="form-control" type="password" placeholder="Last Name" id="txtReEnterNewPass" value="" ng-model="teamMembersChangePassCtrl.defaultTeamMember.reEnterNewPassword">
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group  col-lg-9 text-center addNewJobForm">
                  <input type="submit" class="btnSubmit" ng-disabled="isDisabled" value="Submit" title="Submit">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
