<div class="employer-view-team employer-all-pages container-fluid row" id="viewTeam">
  <!-- viewTeamCtrl -->
  <h3 class="text-center">View Team</h3>
  <div class="row">
    <div class="col-xs-12 separatorJobs" ng-repeat="teamData in viewTeamCtrl.result">
      <div class="big-boxes">
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-xs-4">
                <span class="jobTitle candidate-data"><strong>{{teamData.firstName}} {{teamData.lastName}}</strong></span>
              </div>
              <div class="col-xs-8">
                <div class="text-right">
                  <button type="button" class="btn btn-default" ng-click="viewTeamCtrl.editTeamMembersFun(teamData)">Edit Team Members</button>
                  <button type="button" class="btn btn-default" ng-click="viewTeamCtrl.teamMemberChangePasswordFun(teamData)">Change Password</button>
                  <button type="button" class="btn btn-default">View</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-5">
                <div class="row">
                  <div class="col-xs-5">
                      <strong class="firstName candidate-data">First Name :</strong>
                  </div>
                  <div class="col-xs-4">
                      <span class="firstName candidate-data">{{teamData.firstName}}</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="row">
                  <div class="col-xs-4">
                      <strong class="firstName candidate-data">Last Name :</strong>
                  </div>
                  <div class="col-xs-4">
                      <span class="lastName candidate-data">{{teamData.lastName}}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-5">
                <div class="row">
                  <div class="col-xs-5">
                      <strong class="firstName candidate-data">Email/User Name :</strong>
                  </div>
                  <div class="col-xs-4">
                      <span class="firstName candidate-data">{{teamData.email}}</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="row">
                  <div class="col-xs-4">
                      <strong class="firstName candidate-data">Mobile  :</strong>
                  </div>
                  <div class="col-xs-4">
                      <span class="lastName candidate-data">{{teamData.mobile}}</span>
                  </div>
                </div>
              </div>
            </div><!--End row -->
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
