<div class="forgotPasswordRegisteration" id="forgotPasswordWrapper">
  <div style="padding:25px;" ng-controller="LoginCtrl" ng-include src ="'views/logoLoginForm.html'"></div>
  <div class="section-separator">
    <div class="dialogContainer">
      <div class="forgotPasswordForm">
        <div class="pageTitle"><h2>Forgot Password</h2></div>
        <form role="form" name="reigstrationForm" ng-controller="ForgotPasswordCtrl" valid-submit="onForgotpasswordFormSubmit(reigstrationForm.$valid)" class="forgotPasswordForm" novalidate>
           <div class="form-group text-left" ng-class="{'has-error' : (reigstrationForm.$submitted || reigstrationForm.email.$touched || submitted) && reigstrationForm.email.$error.required || reigstrationForm.$error.email}">
              <label for="email" class="hidden-xs">Email:</label>
              <input type="email" class="form-control" name="email" id="email" ng-model="email" placeholder="Email" ng-required="true"/>
              <p class="myerror" ng-show="(reigstrationForm.$submitted || reigstrationForm.email.$touched || submitted) && reigstrationForm.email.$error.required">Email is required.</p>
              <p ng-show="reigstrationForm.$error.email" class="help-block">Please enter valid email address.</p>
              <p ng-show="emailError" class="myerror">no user with email/mobile exists</p>
           </div>
           <div class="form-group text-left" ng-class="{'has-error' : (reigstrationForm.$submitted || reigstrationForm.mobile.touched || submitted) && reigstrationForm.mobile.$error.required || reigstrationForm.$error.mobile}">
              <label for="mobile" class="hidden-xs">Mobile:</label>
              <input type="number" class="form-control" name="mobile" id="txtMobile" ng-model="mobile" placeholder="Mobile" ng-required="true"/>
              <p ng-show="(reigstrationForm.$submitted || reigstrationForm.mobile.touched || submitted) && reigstrationForm.mobile.$error.required" class="help-block">Mobile number is required.</p>
              <p ng-show="reigstrationForm.$error.mobile" class="help-block">Please enter valid mobile number.</p>
           </div>
           <div class="form-group signInForm-submitBtnwrapper">
              <input type="submit" class="btnSubmit" value="Submit" title="Submit">
              <input type="button" class="btnCancel" value="Cancel" title="Cancel">
           </div>
        </form>
      </div>
    </div>
  </div>
</div>
