<!-- -->
<div class="forgotPasswordRegisteration" id="resetPasswordWrapper">
  <div style="padding:25px;" ng-controller="LoginCtrl" ng-include src ="'views/logoLoginForm.html'"></div>
  <div class="section-separator">
    <div class="dialogContainer">
      <div class="resetPasswordForm">
        <div class="pageTitle"><h2>Reset Password</h2></div>
        <form role="form" name="resetPasswordForm" class="resetPasswordForm" novalidate>
           <div class="form-group text-left">
              <label for="newPassword" class="hidden-xs">New Password:</label>
              <input type="password" class="form-control" ng-class="emailError? 'redBox': ''" name="newPassword" id="newPassword" ng-model="newPassword" placeholder="New Password" required/>
           </div>
           <div class="form-group text-left">
              <label for="confirmNewPassword" class="hidden-xs">Confirm New Password:</label>
              <input type="password" class="form-control" ng-class="emailError? 'redBox': ''" name="confirmNewPassword" id="confirmNewPassword" ng-model="confirmNewPassword" placeholder="Cofirm New Password" required/>
           </div>
           <div class="form-group signInForm-submitBtnwrapper">
              <input type="submit" class="btnSubmit" ng-disabled="isDisabled" value="Submit" title="Submit" ng-click="onResetPasswordFormSubmit()">
              <input type="button" class="btnCancel" ng-disabled="isDisabled" value="Cancel" title="Cancel">
           </div>
        </form>
      </div>
    </div>
  </div>
</div>
