<div class="container-fluid">
  <div class="modal-header">
    <h4>Select Candidate For Apply
      <p class="pull-right" ng-click="close()">X</p>
    </h4>
  </div>
  <div class="modal-body">
    <div ng-show="candidates.length <= 0">
      <h4>No candidates applied!</h4>
    </div>
    <div ng-show="candidates.length > 0">
      <div class="row candidate-row forCandidateDetail" ng-repeat="candidate in candidates" ng-click="redirectCandidateDetail(candidate)">
        <div class="col-md-3">
          <i class="glyphicon glyphicon-user"></i> {{candidate.firstName}} {{candidate.lastName}}
        </div>
        <div class="col-md-4">
          <i class="glyphicon glyphicon-star"></i> JAVA
        </div>
        <div class="col-md-4">
          <i class="glyphicon glyphicon-calendar"></i> 0+ Years
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-lg pull-right" ng-click="close()">Close</button>
  </div>
</div>
